@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "poppins" ,sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    background: #020024;
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(8, 5, 6, 1) 8%, rgba(135, 3, 16, 1) 64%);
   color: #ddd;
   
}
main{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
header{
    padding: 20px 0px;
    margin: 0px 20px 20px 20px; 
    border-bottom: 2px solid #ddd;
}
.featured{
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    align-items: center;
     margin: 20px; 
}
article{
    margin: 20px;
}
article>div>p{
    padding-top: 20px;
}
img{
     width: 100%;
    border: 2px solid white;
    border-radius: 10px;
}
@media(max-width:760px){
    article{
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 60px;
    }
}
@media(max-width:670px){
    .featured,
    article{
       
        grid-template-columns: repeat(1,1fr);
    }
}